<div class="input-group input-group-sm mb-3">
  <input type="text" placeholder="Enter word" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  <button type="button" class="btn btn-outline-primary btn-sm"> Submit</button>
</div>
