#container {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin: 0 auto;
}

.logo {
  align-self: center;
}

#board {
  /*border: 2px solid #000000;
  background-color: #ffffff;*/
  padding: 5px;
  margin-top: 20px;
}

#word {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
