<div id="container">
  <img src="../assets/logo.png" alt="Boggle" class="logo" />

  <div id="board">
    <app-board></app-board>
  </div>

  <div id="word">
    <app-word></app-word>
  </div>

  <div>
    <app-score></app-score>
  </div>

</div>
