.row {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding: 5px;
}

.boggle {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.69);
  flex: 1 1 auto;
  margin: 5px;
}

  .boggle span {
    font-weight: bold;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .boggle:hover {
    cursor: pointer;
  }
