<div class="row">
  <div class="boggle">
    <span>A</span>
  </div>
  <div class="boggle">
    <span>B</span>
  </div>
  <div class="boggle">
    <span>C</span>
  </div>
  <div class="boggle">
    <span>D</span>
  </div>
</div>
<div class="row">
  <div class="boggle">
    <span>A</span>
  </div>
  <div class="boggle">
    <span>B</span>
  </div>
  <div class="boggle">
    <span>C</span>
  </div>
  <div class="boggle">
    <span>D</span>
  </div>
</div>
<div class="row">
  <div class="boggle">
    <span>A</span>
  </div>
  <div class="boggle">
    <span>B</span>
  </div>
  <div class="boggle">
    <span>C</span>
  </div>
  <div class="boggle">
    <span>D</span>
  </div>
</div>
<div class="row">
  <div class="boggle">
    <span>A</span>
  </div>
  <div class="boggle">
    <span>B</span>
  </div>
  <div class="boggle">
    <span>C</span>
  </div>
  <div class="boggle">
    <span>D</span>
  </div>
</div>
