<table class="table table-bordered">
  <tr>
    <th>Word </th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Ivo</td>
    <td>11</td>
  </tr>
  <tr>
    <td>Gavran</td>
    <td>11</td>
  </tr>
  <tr id="footer">
    <td>Total </td>
    <td>22</td>
  </tr>
</table>
